@charset "utf-8";
body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

th,td{
    border-color: white;
}
tr:nth-child(even){
    background-color: rgb(216, 216, 216);
}

tr:nth-child(odd){
    background-color: rgba(153, 153, 153, 0.93);
}
tr:first-child{
    color:white;
    background-color: gray;
}